<div class="row">
    <div class="col-12 col-md-4">
        <div style="background-color: rgba(202, 206, 210, 0.263);" class="rounded-3 p-4 w-75  ">
            <h4 routerLink="user-data" routerLinkActive="text-light bg-success rounded-3" style="cursor: pointer;"
                class="my-4 p-3">
                <i class="fa-solid fa-user"></i>
                My information
            </h4>
            <h4 routerLink="user-prev-orders" routerLinkActive="text-light bg-success rounded-3"
                style="cursor: pointer;" class="my-5 p-3">
                <i class="fa-solid fa-bag-shopping"></i>
                My previous orders
            </h4>
        </div>
    </div>
    <div class="col-12 col-md-8">
        <router-outlet />
    </div>
</div>