<div class="container">
    <div class="row">
        <div class="col-12 col-md-4" *ngFor="let lap of laptops">
            <div class="card p-3">
                <img src={{lap.imageUrl}} alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">{{lap.name}}</h3>
                    <div *ngIf="lap.price>0">
                        <span class="card-text me-3 text-decoration-line-through">{{lap.price}}$</span>
                        <span class="card-text fw-bold text-danger fs-4">{{lap.price-(lap.discount/100)}}$</span>
                    </div>
                    <div *ngIf="lap.price == 0">
                        <span class="card-text me-3 fw-bold">{{lap.price}}$</span>
                    </div>
                    <p class="card-text">{{lap.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>