<!-- <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner w-75 m-auto">
        <div class="carousel-item active">
            <div class="d-flex justify-content-between">
                <div class=" border border-1 rounded bg-secondary-subtle p-3">
                    <img src="./imgs/gameing.png" class="d-block w-100 m-auto " alt="...">
                    <p class="text-center">GAMING</p>
                </div>
                <div class="border border-1 rounded p-3 bg-secondary-subtle">
                    <img src="./imgs/laptop.png" class="d-block w-100 m-auto " alt="...">
                    <p class="text-center">LAPTOP</p>
                </div>
                <div class="border border-1 rounded p-3 bg-secondary-subtle">
                    <img src="./imgs/monitors.png" class="d-block w-100 m-auto " alt="...">
                    <p class="text-center">MONITORS</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex justify-content-between mx-5">
                <div class=" border border-1 rounded bg-secondary-subtle p-3">
                    <img src="./imgs/gameing.png" class="d-block w-100 m-auto " alt="...">
                    <p class="text-center">GAMING</p>
                </div>
                <div class="border border-1 rounded p-3 bg-secondary-subtle">
                    <img src="./imgs/laptop.png" class="d-block w-100 m-auto " alt="...">
                    <p class="text-center">LAPTOP</p>
                </div>
                <div class="border border-1 rounded p-3 bg-secondary-subtle">
                    <img src="./imgs/monitors.png" class="d-block w-100 m-auto " alt="...">
                    <p class="text-center">MONITORS</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->
<div class="p-3">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)" *ngIf="category">
        <div ngxSlickItem class="slide card mx-3 bg-secondary-subtle" *ngFor="let slide of slides"
            routerLink={{slide.routerlink}} style="cursor: pointer">
            <img src="{{ slide.img }}" alt="" class="card-img-top w-75 m-auto p-3">
            <h4 class=" card-title text-uppercase text-center p-2">
                {{slide.body}}
            </h4>
        </div>
    </ngx-slick-carousel>






    <!-- (breakpoint)="breakpoint($event)" (init)="slickInit($event)"-->
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig2" *ngIf="dailySales">
        <div ngxSlickItem class="slide mx-3 card p-0 position-relative " *ngFor="let slide of slides; let i = index;" s>
            <div class="position-absolute top-0 start-0 bg-secondary-subtle p-3 rounded text-center" style="width: 20%;"
                *ngIf="slide.availability==false">Out Of Stock</div>
            <div class="position-absolute top-0 start-0 bg-danger p-1 rounded text-center text-light"
                style="width: 20%;" *ngIf="slide.discount>0">{{slide.discount}}%</div>
            <div class="position-absolute start-0 bg-success p-1 rounded text-center text-light my-2"
                style="width: 20%; top: 7%;" *ngIf="slide.availability==true">In Stock</div>
            <div class="row p-4 pe-0" style="height: 450px;">
                <div class="col-5 d-flex align-items-center">
                    <img src="{{ slide.imageUrl }}" class="m-auto" alt={{slide.name}} width="100%">
                </div>
                <div class="col-6 d-flex align-items-center">
                    <div>
                        <h5>{{slide.name}}</h5>
                        <p class="mt-3"><span>⭐</span> {{slide.rating}}</p>
                        <!-- *ngFor="let star of getStars(slide.rating)" -->
                        <div class="d-flex align-items-center">
                            <p class="mx-2 fs-4 align-self-center text-danger">
                                {{priceAfterDiscount[slide.product_id]}}$</p>
                            <p class=" text-decoration-line-through align-self-center text-secondary">{{slide.price}}$
                            </p>
                        </div>
                        <p><small class="text-body-secondary">{{slide.description}}</small></p>
                        <button class="btn bg-dark text-light w-100 my-3" routerLink="product/{{slide._id}}">Show
                            Product</button>
                        <!-- <div class="d-flex w-100 mb-3">
                            <button class="btn align-self-start bg-dark text-light w-25 rounded"
                                (click)="removeItem()">-</button>
                            <p
                                class="border border-1 rounded ps-2 pe-2 flex-fill text-center mx-2 mb-0 item-number fs-4">
                                {{numOfItems}}
                            </p>
                            <button class=" btn align-self-start bg-dark text-light w-25 rounded"
                                (click)="addItem()">+</button>
                        </div> -->
                        <button class="btn bg-dark text-light w-25 rounded w-100 py-2" tabindex="-1">Add to
                            cart</button>
                    </div>
                </div>
            </div>
        </div>
    </ngx-slick-carousel>






    <!-- (breakpoint)="breakpoint($event)" (init)="slickInit($event)"-->
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig3" *ngIf="monthSales">
        <div ngxSlickItem class="slide mx-3 card p-0 position-relative " *ngFor="let slide of slides; let i = index">
            <div class="position-absolute top-0 start-0 bg-secondary-subtle p-3 rounded text-center" style="width: 30%;"
                *ngIf="slide.availability==false">Out Of Stock</div>
            <div class="position-absolute top-0 start-0 bg-danger p-1 rounded text-center text-light"
                style="width: 30%;" *ngIf="slide.discount>0">{{slide.discount}}%</div>
            <div class="position-absolute end-0 top-0 bg-success p-1 rounded text-center text-light"
                style="width: 30%; " *ngIf="slide.availability==true">In Stock</div>
            <div class="p-4" style="height: fit-content">
                <img src="{{ slide.image }}" class="m-auto" alt={{slide.name}} width="40%">
                <p class="mt-3"><span>⭐</span> {{slide.rating}}</p>
                <!-- *ngFor="let star of getStars(slide.rating)" -->
                <h5>{{slide.name}}</h5>
                <div class="d-flex align-items-center mb-0">
                    <p class="mx-2 fs-4 align-self-center text-danger mb-0">{{priceAfterDiscount[i]}}$</p>
                    <p class=" text-decoration-line-through align-self-center text-secondary mb-0">{{slide.price}}$
                    </p>
                </div>
                <p class="mb-0"><small class="text-body-secondary">{{slide.description}}</small></p>
                <button class="btn bg-dark text-light w-100 my-3" routerLink="/home/{{slide.product_id}}">Show
                    Product</button>
                <!-- <div class="d-flex w-100 mb-3">
                            <button class="btn align-self-start bg-dark text-light w-25 rounded"
                                (click)="removeItem()">-</button>
                            <p
                                class="border border-1 rounded ps-2 pe-2 flex-fill text-center mx-2 mb-0 item-number fs-4">
                                {{numOfItems}}
                            </p>
                            <button class=" btn align-self-start bg-dark text-light w-25 rounded"
                                (click)="addItem()">+</button>
                        </div> -->
                <button class="btn bg-dark text-light w-25 rounded w-100 py-2" tabindex="-1">Add to cart</button>
            </div>
        </div>
    </ngx-slick-carousel>




</div>