<div class="w-100 bg-dark text-light mt-5 pt-5 mb-0">
    <div class="container p-3 p-md-0">
        <div class="row">
            <div class="col-12 col-md-7 mb-4 mb-md-0">
                <h2>Sign Up For Newsletter</h2>
                <p>Get E-mail updates about our latest shop and special offer</p>
            </div>
            <div class="col-12 col-md-5">
                <form class="row">
                    <input type="email" placeholder="name@example.com" class="col-9 m-auto mb-3 m-md-0">
                    <button class="col-6 col-md-3 btn btn-success m-auto m-md-0 p-3">Sign up</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row mt-5">
            <div class="col-12 col-md-4 mb-5 mb-md-0">
                <i class="fa-solid fa-shop fs-1 text-light " routerLink="/" style="cursor: pointer;"></i>
                <p>Star shop</p>
                <p>Starshop is an innovative electronic e-commerce platform that seamlessly connects
                    shoppers.</p>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-md-0">
                <h4>Contact</h4>
                <div class="d-flex justify-content-start gap-3 mt-4">
                    <i class="fa-solid fa-location-dot pt-1"></i>
                    <p> some location</p>
                </div>
                <div class="d-flex justify-content-start gap-3">
                    <i class="fa-solid fa-phone pt-1"></i>
                    <p>+20 111 222 333 </p>
                </div>
                <div class="d-flex justify-content-start gap-3">
                    <i class="fa-solid fa-envelope pt-1"></i>
                    <p>some&#64;email.com</p>
                </div>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-md-0">
                <h4>Our Products</h4>
                <p routerLink="/tv" routerLinkActive="text-success" style="cursor: pointer;" class="mt-4">TV</p>
                <p routerLink="/laptop" routerLinkActive="text-success" style="cursor: pointer;">Laptop</p>
                <p routerLink="/monitor" routerLinkActive="text-success" style="cursor: pointer;">Monitors</p>
                <p routerLink="/accessories" routerLinkActive="text-success" style="cursor: pointer;">Accessories</p>
                <p routerLink="/speaker" routerLinkActive="text-success" style="cursor: pointer;">Blutooth-speakers</p>
                <p></p>
            </div>
            <div class="col-6 col-md-2">
                <h4>Support</h4>
                <p class="mt-4">Help Centre</p>
                <p>Shipping</p>
                <p>Returns</p>
                <p>Product Recalls</p>
            </div>
            <div class="col-6 col-md-2">
                <h4>Customer service</h4>
                <p class="mt-4">FAQs</p>
                <p>Contact Us</p>
                <p>My Account</p>
            </div>
        </div>
    </div>
</div>