<div class="container">
    <div class="row">
        <div class="col-12 col-md-4" *ngFor="let desk of desktop">
            <div class="card p-3">
                <img src={{desk.imageUrl}} alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">{{desk.name}}</h3>
                    <div *ngIf="desk.price>0">
                        <span class="card-text me-3 text-decoration-line-through">{{desk.price}}$</span>
                        <span class="card-text fw-bold text-danger fs-4">{{desk.price-(desk.discount/100)}}$</span>
                    </div>
                    <div *ngIf="desk.price == 0">
                        <span class="card-text me-3 fw-bold">{{desk.price}}$</span>
                    </div>
                    <p class="card-text">{{desk.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>