<div class="card p-4 position-relative" style="width: 18rem;" *ngFor="let item of products">
    <div class="position-absolute top-0 start-0 bg-danger text-light p-2 text-center fs-5 rounded" style="width: 40%;"
        *ngIf="item.discount>0">
        {{item.discount}}%
    </div>
    <img src={{item.image}} class="card-img-top" alt="...">
    <div class="card-body">
        <h3 class="card-title">{{item.name}}</h3>
        <p class="card-text">price: <span class="fw-bold">{{item.price}}</span></p>
        <p class="card-text">{{item.description}}</p>
        <!-- <p class="card-text"><span *ngFor="let star of getStars(item.rating)" class="p-1">⭐</span>{{item.rating}}</p> -->
        <div class="d-flex w-100 mb-3">
            <button class="btn align-self-start bg-dark text-light w-25 rounded" (click)="removeItem()">-</button>
            <p class="border border-1 rounded ps-2 pe-2 flex-fill text-center mx-2 mb-0 item-number fs-4">
                {{numOfItems}}
            </p>
            <button class=" btn align-self-start bg-dark text-light w-25 rounded" (click)="addItem()">+</button>
        </div>
        <button class="btn bg-dark text-light w-100 my-3" routerLink="/home/{{item.product_id}}">Show Product</button>
        <button class="btn bg-dark text-light w-25 rounded w-100 py-2">Add to cart</button>
    </div>
</div>