<app-large-banner [bannerTitle]="'Enhance Your Music Experience'" [bannerImg]="'./imgs/Union.png'"
    [bannerButton]="'Buy Now!'" [bannerCategory]="'Blutooth-speaker'" [routerLink]="'/home/' + products[23]?.product_id"
    [showCounter]="true" [bg_color]="'bg-dark'" [text_color]="'text-light'" />

<p class="text-center fs-1 my-5">Popular Categories</p>
<app-banner-slider [slides]="slider1" [category]="true" />


<p class="fs-1 my-5">Daily Best Sales</p>
<app-banner-slider [slides]="dailySaleProducts" [dailySales]="true" />
<app-large-banner [bannerTitle]="'Macbook Pro'" [bannerImg]="'./imgs/mcbook.png'"
    [bannerDesc]="'Apple M1 Max Chip. 32GB Unified Memory, 1TB SSD Storage'" [bannerButton]="'Order Now!'"
    [bannerCategory]="'laptop'" [routerLink]="'/home/' + products[20]?.product_id" [bg_color]="'bg-secondary-subtle'"
    [text_color]="'text-dark'" />


<div class="d-flex flex-column flex-lg-row justify-content-between mb-5 gap-3">
    <div class="small-banner rounded bg-black position-relative overflow-hidden flex-fill">
        <img src="./imgs/ps5.png" alt="ps5">
        <div class="position-absolute bottom-0 p-3 text-light w-100 rounded-top-circle"
            style="background-color: rgba(0, 0, 0, 0.683);">
            <div class="w-75 m-auto text-center">
                <h3>PlayStation 5</h3>
                <p>Black and White version of the PS5 coming out on sale.</p>
                <a class="link-opacity-75-hover link-underline-light link-light"
                    [routerLink]="'/home/' + products[22]?.product_id">Shop Now!</a>
            </div>
        </div>
    </div>
    <div class="small-banner rounded bg-black  position-relative overflow-hidden flex-fill">
        <img src="./imgs/xbox360.png" alt="xbox360">
        <div class="position-absolute bottom-0 p-3 text-light w-100 rounded-top-circle"
            style="background-color: rgba(0, 0, 0, 0.683);">
            <div class="w-75 m-auto text-center">
                <h3>Xbox 360</h3>
                <p>Black and White version of the xbox coming out on sale.</p>
                <a class="link-opacity-75-hover link-underline-light link-light"
                    [routerLink]="'/home/' + products[21]?.product_id">Shop Now!</a>
            </div>
        </div>
    </div>
</div>

<p class="fs-1" style="margin: 6% 0 2%;">The Month Sales</p>
<!-- <div class="d-flex gap-5 justify-content-center align-items-center  border-bottom w-50 m-auto mb-3 p-2"> -->
<div class="row text-center">
    <div class="col-6 col-md-3">
        <p class="fs-5" (click)="allClick()" [ngClass]="{'text-success border-bottom pb-2':all}"
            style="cursor: pointer;">
            All
        </p>
    </div>
    <div class="col-6 col-md-3">
        <p class="fs-5" (click)="laptopClick()" [ngClass]="{'text-success border-bottom pb-2':Laptop_Desktop}"
            style="cursor: pointer;">
            Laptop&Desktop</p>
    </div>
    <div class="col-6 col-md-3">
        <p class="fs-5" (click)="gamingClick()" [ngClass]="{'text-success border-bottom pb-2':Gaming}"
            style="cursor: pointer;">Gaming</p>
    </div>
    <div class="col-6 col-md-3">
        <p class="fs-5" (click)="monitorClick()" [ngClass]="{'text-success border-bottom pb-2':Monitors}"
            style="cursor: pointer;">Monitors</p>
    </div>
</div>
<!-- </div> -->
<app-banner-slider *ngIf="all" [slides]="monthSaleProducts" [monthSales]="true" />
<app-banner-slider *ngIf="Laptop_Desktop" [slides]="monthSale_laptopProducts" [monthSales]="true" />
<app-banner-slider *ngIf="Gaming" [slides]="monthSale_gamingProducts" [monthSales]="true" />
<app-banner-slider *ngIf="Monitors" [slides]="monthSale_monitorProducts" [monthSales]="true" />

<div id="carouselExampleIndicators" class="carousel slide mt-5 mb-5">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active p-5">
            <div>
                <app-large-banner [bannerTitle]="'Macbook Pro'" [bannerImg]="'./imgs/mcbook.png'"
                    [bannerDesc]="'Apple M1 Max Chip. 32GB Unified Memory, 1TB SSD Storage'"
                    [bannerButton]="'Order Now!'" [bannerCategory]="'laptop'"
                    [routerLink]="'/home/' + products[20]?.product_id" [bg_color]="'bg-dark'"
                    [text_color]="'text-light'" />
            </div>
        </div>
        <div class="carousel-item p-5">
            <div>
                <app-large-banner [bannerTitle]="'Macbook Pro'" [bannerImg]="'./imgs/mcbook.png'"
                    [bannerDesc]="'Apple M1 Max Chip. 32GB Unified Memory, 1TB SSD Storage'"
                    [bannerButton]="'Order Now!'" [bannerCategory]="'laptop'"
                    [routerLink]="'/home/' + products[20]?.product_id" [bg_color]="'bg-dark'"
                    [text_color]="'text-light'" />
            </div>
        </div>
        <div class="carousel-item p-5">
            <div>
                <app-large-banner [bannerTitle]="'Macbook Pro'" [bannerImg]="'./imgs/mcbook.png'"
                    [bannerDesc]="'Apple M1 Max Chip. 32GB Unified Memory, 1TB SSD Storage'"
                    [bannerButton]="'Order Now!'" [bannerCategory]="'laptop'"
                    [routerLink]="'/home/' + products[20]?.product_id" [bg_color]="'bg-dark'"
                    [text_color]="'text-light'" />
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- ---------------- The same rectangle but with display flex ------------------- -->
<!-- <div class="d-flex flex-column flex-lg-row  rounded border border-success p-3">
    <div class="col-6 col-md-2 d-flex gap-3 w-auto me-3">
        <i class="fa-solid fa-sack-dollar text-success fs-3  align-self-center"></i>
        <p class="align-self-end align-self-center pt-3 ">Safe Payments</p>
    </div>
    <div class="vr me-3 d-none d-lg-block"></div>
    <div class="col-6 col-md-2 d-flex align-items-center flex-fill gap-3">
        <i class="fa-solid fa-truck text-success fs-3 align-self-center "></i>
        <p class="align-self-end align-self-center pt-3">Nationwide delivery</p>
    </div>
    <div class="vr me-3 d-none d-lg-block"></div>
    <div class="col-6 col-md-2 d-flex align-items-center gap-3">
        <i class="fa-solid fa-rotate-left text-success fs-3 align-self-center "></i>
        <p class="align-self-end align-self-center pt-3">Free&Easy Returns</p>
    </div>
    <div class="vr me-3 d-none d-lg-block"></div>
    <div class="col-6 col-md-2 d-flex align-items-center gap-3">
        <i class="fa-solid fa-dollar-sign text-success fs-3 align-self-center "></i>
        <p class="align-self-end align-self-center pt-3">Best Price Guaranteed</p>
    </div>
    <div class="vr me-3 d-none d-lg-block"></div>
    <div class="col-6 col-md-2 d-flex align-items-center flex-fill gap-3">
        <i class="fa-solid fa-shield text-success fs-3 align-self-center "></i>
        <p class="align-self-end pt-3">100% Authentic Products</p>
    </div>
    <div class="vr me-3 d-none d-lg-block"></div>
    <div class="col-6 col-md-2 d-flex align-items-center gap-3 w-auto">
        <i class="fa-solid fa-circle-check text-success fs-3 align-self-center "></i>
        <p class="align-self-end align-self-center pt-3">YOORI Verified</p>
    </div>
</div> -->


<div class="row rounded border border-success p-3 mx-5 mx-md-0">
    <div class="col-12 col-md-3 col-lg-2 d-flex gap-3 w-auto me-3 ">
        <i class="fa-solid fa-sack-dollar text-success fs-3  align-self-center"></i>
        <p class="align-self-end align-self-center pt-3 ">Safe Payments</p>
    </div>
    <div class="col-12 col-md-3 col-lg-2 d-flex align-items-center gap-3 pe-0">
        <i class="fa-solid fa-truck text-success fs-3 align-self-center "></i>
        <p class="align-self-end align-self-center pt-3">Nationwide delivery</p>
    </div>
    <div class="col-12 col-md-3 col-lg-2 d-flex align-items-center gap-3">
        <i class="fa-solid fa-rotate-left text-success fs-3 align-self-center "></i>
        <p class="align-self-end align-self-center pt-3">Free&Easy Returns</p>
    </div>
    <div class="col-12 col-md-3 col-lg-2 d-flex align-items-center gap-3">
        <i class="fa-solid fa-dollar-sign text-success fs-3 align-self-center "></i>
        <p class="align-self-end align-self-center pt-3">Best Price Guaranteed</p>
    </div>
    <div class="col-12 col-md-3 col-lg-2 d-flex align-items-center  gap-3">
        <i class="fa-solid fa-shield text-success fs-3 align-self-center "></i>
        <p class="align-self-end pt-3">100% Authentic Products</p>
    </div>
    <div class="col-12 col-md-3 col-lg-2 d-flex align-items-center gap-3 w-auto">
        <i class="fa-solid fa-circle-check text-success fs-3 align-self-center "></i>
        <p class="align-self-end align-self-center pt-3">YOORI Verified</p>
    </div>
</div>

<!-- <app-product-card /> -->

<!-- <div class="card" *ngFor="let p of products">

</div> -->