<div class="row my-3 my-md-2" *ngFor="let order of orders; let i = index">
    <h3>Order {{orders.length-i}}</h3>
    <div class="col-12 col-sm-5 col-md-4 col-lg-3 my-3 my-md-0" *ngFor="let item of order.items">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{item.productName}}</h2>
                <p class="card-text">{{item.quantity}}</p>
                <p class="card-text">{{item.price}}</p>
            </div>
        </div>
    </div>
</div>